
body{
    background-color: rgb(117, 115, 115);
}
/*
main {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}
*/
header {
    
    //flex-direction: column;
    background-color: orange;
    width: 8.3vw;
    position: fixed;
    height: 100vh;
}

h1 {
    max-width: 30px;
    word-break: break-all;
}

.page-content {
    margin-left: 8.3vw;
    min-width: 100vw;

    .page {
        min-height: 100vh;
        outline: 5px solid red;
    }
}
/*
.page1 {
    grid-column: span 11;
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }

    .top {
        .page-title {
            grid-column: span 4;
            
            .drizzle{
                color: #ac77ff;
            }
            .tahini {
                color: #5fff37;
            }
            .chickpeas {
                color: #f9f135;
            }
        }
        .text {
            grid-column: span 7;
        }
    }
    
    .bottom {
        .image{
            grid-column: span 5;
        }
        .text {
            grid-column: span 6;
        }
    }
} 
/*


